<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk2DHand</title>
    <link rel="icon" href="/static/images/logo_notext.png" type="image/png">
</head>
<body>
    <img src="/static/images/logo_text.png" alt="Talk2DHand Icon" class="logo-icon">
    <p class="researchTitle">From Sign to Text: Gamified Learning with Real-Time Sign Language</p>   

    <div class="container">
        <a href="/learning" class="custom-button">Learning Letters</a>
        <a href="/practicing" class="custom-button">Practice Letters</a>
        <a href="/test" class="custom-button">Self Test</a>
    </div>
</body>
</html>
