<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talk2DHand</title>
    <link rel="icon" href="/static/images/logo_notext.png" type="image/png">
</head>
<body>
    <img src="/static/images/logo_text.png" alt="Talk2DHand Icon" class="logo-icon">
    <p class="researchTitle">From Sign to Text: Gamified Learning with Real-Time Sign Language</p>   

    <div class="container">
        <a href="/learning" class="custom-button">Learning Letters</a>
        <a href="/practicing" class="custom-button">Practice Letters</a>
        <a href="/test" class="custom-button">Self Test</a>
    </div>

    <div style="font-size: 12px; color: #304C89; background-color: #E6F0FA; padding: 15px; border-radius: 5px; width: 600px; margin: 20px auto; text-align: center;">
        <p style="margin: 0; font-weight: bold;">Performance Notice: This application version runs on Render's free plan, which has limitations that may affect performance:</p>
        <ul style="list-style-position: inside; padding-left: 0; margin: 10px 0;">
            <li>Limited CPU and memory can slow processing.</li>
            <li>Network latency may delay predictions.</li>
            <li>Image compression can reduce accuracy.</li>
        </ul>
        <p style="margin: 10px 0;">For the best experience, run the application locally by cloning our</p>
        <a href="https://github.com/neinzaut/talk2dhand/tree/main" target="_blank" style="display: inline-block; background-color: #0095ff; color: white; padding: 8px 20px; border-radius: 50px; text-decoration: none; font-weight: bold; margin: 5px auto;">GitHub repository</a>
    </div>
</body>
</html>
